.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 700px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff; 
  margin-bottom: 60px;
}

.product-container h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px ;
}

.product-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  text-align: left;
}

.product-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-name {
  font-size: 2rem;
  margin-bottom: 10px;
}

.product-category, .product-description, .product-price {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.product-price {
  color: #00bea8;
  font-weight: bold;
}

.add-to-cart {
  background-color:#00a3d4;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #21867a;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width:140px ;
    font-size: 1.2rem;
    padding: 5px; /* Add some padding for spacing */
    border: 2px solid #ddd; /* Light grey border */
    border-radius: 50px; /* Rounded corners */
}


.quantity-button {
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50%; /* Makes the buttons round */
    width: 25px; /* Ensure the buttons are perfectly round */
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.quantity-button:hover {
  background-color: #ccc;
}

.quantity {
  font-size: 1.2rem;
}
